<mat-toolbar>
  <a mat-button routerLink="/dashboard" class="brand-link">
    <mat-icon>home</mat-icon>
    <span class="brand">Home</span>
  </a>
  <span class="spacer"></span>

  <ng-container *ngIf="user as user; else anonLinks">
    <a mat-button routerLink="/recipes" routerLinkActive="active-link">Recipes</a>
    <a mat-button routerLink="/ingredients" routerLinkActive="active-link">Ingredients</a>
    <a mat-button routerLink="/users" routerLinkActive="active-link">Users</a>

    <button mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="Account menu" class="account-button">
      <div class="account-bubble">
        <img *ngIf="user.avatar?.thumbnail" [src]="user.avatar.thumbnail" [alt]="user.name + ' avatar'">
        <mat-icon *ngIf="!user.avatar?.thumbnail" aria-hidden="false" aria-label="Account">person</mat-icon>
      </div>
    </button>

    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item [routerLink]="['/users', user.id]">
        <mat-icon>account_circle</mat-icon>
        <span>Account</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>

  <ng-template #anonLinks>
    <a mat-button routerLink="/recipes" routerLinkActive="active-link">Recipes</a>
    <a mat-button routerLink="/ingredients" routerLinkActive="active-link">Ingredients</a>
    <a mat-button routerLink="/users" routerLinkActive="active-link">Users</a>
    <button mat-button (click)="login()">Login/Signup</button>
  </ng-template>
</mat-toolbar>