<mat-toolbar>
  <a mat-button routerLink="/dashboard" class="brand-link" (mouseenter)="prefetch('/dashboard')" (focus)="prefetch('/dashboard')">
    <mat-icon>home</mat-icon>
    <span class="brand">Home</span>
  </a>
  <span class="spacer"></span>

  <!-- Desktop Menu -->
  <div class="desktop-menu">
    <ng-container *ngIf="user as user; else anonLinks">
      <a mat-button routerLink="/recipes" routerLinkActive="active-link" (mouseenter)="prefetch('/recipes')" (focus)="prefetch('/recipes')">Recipes</a>
      <a mat-button routerLink="/ingredients" routerLinkActive="active-link" (mouseenter)="prefetch('/ingredients')" (focus)="prefetch('/ingredients')">Ingredients</a>
      <a mat-button routerLink="/users" routerLinkActive="active-link" (mouseenter)="prefetch('/users')" (focus)="prefetch('/users')">Users</a>
      <a *ngIf="user.admin" mat-button routerLink="/admin/ingredient-weights" routerLinkActive="active-link" (mouseenter)="prefetch('/admin/ingredient-weights')" (focus)="prefetch('/admin/ingredient-weights')">Admin</a>

      <button mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="Account menu" class="account-button">
        <div class="account-bubble">
          <img *ngIf="user.avatar?.thumbnail" [src]="user.avatar.thumbnail" [alt]="user.name + ' avatar'">
          <mat-icon *ngIf="!user.avatar?.thumbnail" aria-hidden="false" aria-label="Account">person</mat-icon>
        </div>
      </button>

      <mat-menu #accountMenu="matMenu">
        <button mat-menu-item [routerLink]="['/users', user.id]">
          <mat-icon>account_circle</mat-icon>
          <span>Account</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>

    <ng-template #anonLinks>
      <a mat-button routerLink="/recipes" routerLinkActive="active-link" (mouseenter)="prefetch('/recipes')" (focus)="prefetch('/recipes')">Recipes</a>
      <a mat-button routerLink="/ingredients" routerLinkActive="active-link" (mouseenter)="prefetch('/ingredients')" (focus)="prefetch('/ingredients')">Ingredients</a>
      <a mat-button routerLink="/users" routerLinkActive="active-link" (mouseenter)="prefetch('/users')" (focus)="prefetch('/users')">Users</a>
      <button mat-button (click)="login()">Login/Signup</button>
    </ng-template>
  </div>

  <!-- Mobile Menu -->
  <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="mobile-menu-trigger">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #mobileMenu="matMenu">
    <a mat-menu-item routerLink="/recipes" routerLinkActive="mobile-active-link" (mouseenter)="prefetch('/recipes')" (focus)="prefetch('/recipes')">Recipes</a>
    <a mat-menu-item routerLink="/ingredients" routerLinkActive="mobile-active-link" (mouseenter)="prefetch('/ingredients')" (focus)="prefetch('/ingredients')">Ingredients</a>
    <a mat-menu-item routerLink="/users" routerLinkActive="mobile-active-link" (mouseenter)="prefetch('/users')" (focus)="prefetch('/users')">Users</a>
    <a *ngIf="user?.admin" mat-menu-item routerLink="/admin/ingredient-weights" routerLinkActive="mobile-active-link" (mouseenter)="prefetch('/admin/ingredient-weights')" (focus)="prefetch('/admin/ingredient-weights')">Admin</a>

    <mat-divider></mat-divider>

    <ng-container *ngIf="user as user; else anonMobile">
      <button mat-menu-item [routerLink]="['/users', user.id]">
        <div class="account-bubble-mini">
           <img *ngIf="user.avatar?.thumbnail" [src]="user.avatar.thumbnail" [alt]="user.name + ' avatar'">
            <mat-icon *ngIf="!user.avatar?.thumbnail" aria-hidden="false" aria-label="Account">person</mat-icon>
        </div>
        <span>Account ({{user.name}})</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </ng-container>

    <ng-template #anonMobile>
      <button mat-menu-item (click)="login()">
        <mat-icon>login</mat-icon>
        <span>Login/Signup</span>
      </button>
    </ng-template>
  </mat-menu>
</mat-toolbar>