<div class="form-section">
  <div class="section-header">
    <h3>Tags</h3>
    <button mat-icon-button type="button" (click)="addTag()">
      <mat-icon class="green">add</mat-icon>
    </button>
  </div>
  <div>
    <div *ngFor="let tag of tags.controls; let i = index" class="row">
      <mat-form-field appearance="fill" class="field">
        <mat-label>Tag {{ i + 1 }}</mat-label>
        <input
          matInput
          [formControl]="getAsFormControl(tag)"
          [placeholder]="placeholder"
          [matAutocomplete]="autoTag">
        <mat-autocomplete #autoTag="matAutocomplete">
          <mat-option *ngFor="let suggestion of tagSuggestions[i] | async" [value]="suggestion">
            {{ suggestion }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-icon-button type="button" (click)="removeTag(i)" >
        <mat-icon class="green">delete</mat-icon>
      </button>
    </div>
  </div>
</div>
