.ingredient-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  min-width: 500px;
  max-width: 600px;
}

@media (max-width: 600px) {
  .ingredient-form {
    min-width: auto;
  }
}
